USE [GuitarShopDEV]
GO
/****** Object:  Table [dbo].[AvailabilityType]    Script Date: 13.07.2017 0:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AvailabilityType](
	[id] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_AvailabilityType_id]  DEFAULT (newid()),
	[Name] [varchar](150) NULL,
 CONSTRAINT [PK_AvailabilityType] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 13.07.2017 0:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Brand](
	[Id] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_Brand_Id]  DEFAULT (newid()),
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Category]    Script Date: 13.07.2017 0:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category](
	[id] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_Category_id]  DEFAULT (newid()),
	[ParentID] [uniqueidentifier] NULL CONSTRAINT [DF_Category_CategoryID]  DEFAULT (newid()),
	[Name] [varchar](200) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CategoryCharacteristic]    Script Date: 13.07.2017 0:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryCharacteristic](
	[id] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_CategoryCharacteristic_id]  DEFAULT (newid()),
	[CategoryID] [uniqueidentifier] NULL,
	[CharacteristicID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_CategoryCharacteristic] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Characteristics]    Script Date: 13.07.2017 0:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Characteristics](
	[id] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_Characteristics_id]  DEFAULT (newid()),
	[Name] [varchar](200) NULL,
 CONSTRAINT [PK_Characteristics] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CharValue]    Script Date: 13.07.2017 0:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CharValue](
	[id] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_CharValue_id]  DEFAULT (newid()),
	[intVal] [int] NULL,
	[floatVal] [float] NULL,
	[strVal] [varchar](200) NULL,
 CONSTRAINT [PK_CharValue] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 13.07.2017 0:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Comment](
	[Id] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[ItemId] [uniqueidentifier] NULL,
	[UserId] [uniqueidentifier] NULL,
	[UserName] [varchar](50) NULL,
	[CommentTypeId] [uniqueidentifier] NULL,
	[Comment] [varchar](max) NULL,
	[Date] [datetime] NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CommentType]    Script Date: 13.07.2017 0:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CommentType](
	[Id] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_CommentType_Id]  DEFAULT (newid()),
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_CommentType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 13.07.2017 0:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Contacts](
	[id] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_Contacts_id]  DEFAULT (newid()),
	[userId] [uniqueidentifier] NULL,
	[contactTypeId] [uniqueidentifier] NULL,
	[Value] [varchar](50) NULL,
 CONSTRAINT [PK_Contacts] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ContactType]    Script Date: 13.07.2017 0:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ContactType](
	[id] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_ContactType_id]  DEFAULT (newid()),
	[name] [varchar](50) NULL,
 CONSTRAINT [PK_ContactType] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Country]    Script Date: 13.07.2017 0:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Country](
	[id] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_Country_id]  DEFAULT (newid()),
	[Name] [varchar](100) NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Curency]    Script Date: 13.07.2017 0:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Curency](
	[id] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_Curency_id]  DEFAULT (newid()),
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_Curency] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DeliveryType]    Script Date: 13.07.2017 0:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DeliveryType](
	[id] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_DeliveryType_id]  DEFAULT (newid()),
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_DeliveryType] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 13.07.2017 0:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Gender](
	[id] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_Gender_id]  DEFAULT (newid()),
	[name] [varchar](50) NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GeneralNews]    Script Date: 13.07.2017 0:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GeneralNews](
	[id] [uniqueidentifier] NOT NULL CONSTRAINT [DF_GeneralNews_id]  DEFAULT (newid()),
	[name] [varchar](50) NULL,
	[description] [varchar](max) NULL,
	[date] [datetime] NULL,
 CONSTRAINT [PK_GeneralNews] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Item]    Script Date: 13.07.2017 0:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Item](
	[id] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_Item_id]  DEFAULT (newid()),
	[Name] [varchar](50) NULL,
	[Description] [varchar](500) NULL,
	[CategoryID] [uniqueidentifier] NULL,
	[BrandID] [uniqueidentifier] NULL,
	[ManufCountryID] [uniqueidentifier] NULL,
	[BrandCOuntryID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ItemCharacteristics]    Script Date: 13.07.2017 0:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemCharacteristics](
	[id] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_ItemCharacteristics_id]  DEFAULT (newid()),
	[ItemID] [uniqueidentifier] NULL,
	[CharacteristicID] [uniqueidentifier] NULL,
	[CharVarID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ItemCharacteristics] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ItemImage]    Script Date: 13.07.2017 0:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ItemImage](
	[id] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[ItemId] [uniqueidentifier] NOT NULL,
	[ImageURL] [varchar](max) NULL,
	[VideoURL] [varchar](max) NULL,
 CONSTRAINT [PK_ItemImage] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Order]    Script Date: 13.07.2017 0:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[StatusId] [uniqueidentifier] NULL,
	[UserId] [uniqueidentifier] NULL,
	[Comment] [varchar](500) NULL,
	[ContactId] [uniqueidentifier] NULL,
	[Name] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[Address] [varchar](250) NULL,
	[Number] [varchar](50) NULL,
	[Date] [datetime] NULL,
	[DeliveryTypeId] [uniqueidentifier] NULL,
	[email] [varchar](250) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 13.07.2017 0:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[id] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[ItemId] [uniqueidentifier] NOT NULL,
	[purposePriceId] [uniqueidentifier] NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
	[count] [int] NOT NULL,
	[purposeId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_OrderItems] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Purpose]    Script Date: 13.07.2017 0:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purpose](
	[id] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_Purpose_id]  DEFAULT (newid()),
	[ItemId] [uniqueidentifier] NULL,
	[AvailabilityTypeID] [uniqueidentifier] NULL,
	[IsPromo] [bit] NULL,
 CONSTRAINT [PK_Purpose] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[purposePrice]    Script Date: 13.07.2017 0:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[purposePrice](
	[id] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_purposePrice_id]  DEFAULT (newid()),
	[purposeId] [uniqueidentifier] NOT NULL,
	[price] [float] NULL,
	[date] [date] NULL,
	[curencyID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_purposePrice] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 13.07.2017 0:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Role](
	[id] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_Role_id]  DEFAULT (newid()),
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[status]    Script Date: 13.07.2017 0:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[status](
	[id] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_status_id]  DEFAULT (newid()),
	[name] [varchar](50) NULL,
 CONSTRAINT [PK_status] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[userRole]    Script Date: 13.07.2017 0:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userRole](
	[id] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_userRole_id]  DEFAULT (newid()),
	[userId] [uniqueidentifier] NULL,
	[roleID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_userRole] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[users]    Script Date: 13.07.2017 0:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users](
	[id] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_users_id]  DEFAULT (newid()),
	[name] [varchar](50) NULL,
	[Lname] [varchar](50) NULL,
	[Login] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[email] [varchar](100) NULL,
	[birthDate] [date] NULL,
	[GenderID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AvailabilityType] ([id], [Name]) VALUES (N'c9f3e4e0-d4de-4857-a282-1349caf63df4', N'Available')
INSERT [dbo].[AvailabilityType] ([id], [Name]) VALUES (N'0358605e-94a3-4f0f-b2f6-1f77c4ddc962', N'Not available')
INSERT [dbo].[AvailabilityType] ([id], [Name]) VALUES (N'a4c16f0c-f7fb-4751-9bdc-c1b94cd27236', N'Discontinue')
INSERT [dbo].[Brand] ([Id], [Name]) VALUES (N'5eaf6c25-5aaf-46c4-b302-112e1fa74af3', N'Fernandes')
INSERT [dbo].[Brand] ([Id], [Name]) VALUES (N'a111ed0e-0960-44a1-bbdc-12678b7ad31b', N'FillPro')
INSERT [dbo].[Brand] ([Id], [Name]) VALUES (N'3e728b39-b3d9-4d1f-9263-16172d529393', N'J&Dbrothers')
INSERT [dbo].[Category] ([id], [ParentID], [Name]) VALUES (N'dee1eeca-7cab-423f-84c0-03da47661a68', N'ba19562e-77ab-456e-8e28-1cfdf4e40fc2', N'Acoustic Bass Guitar')
INSERT [dbo].[Category] ([id], [ParentID], [Name]) VALUES (N'09d1e004-7d78-40d8-ae8c-0cfa4620b1a5', NULL, N'Strings')
INSERT [dbo].[Category] ([id], [ParentID], [Name]) VALUES (N'bc66c044-54c6-42d0-978d-191e21f3d8ee', N'ba19562e-77ab-456e-8e28-1cfdf4e40fc2', N'Electro-Acoustic Guitars')
INSERT [dbo].[CategoryCharacteristic] ([id], [CategoryID], [CharacteristicID]) VALUES (N'c56ad2a1-6529-4a4f-a0db-01d1d811b60a', N'ba19562e-77ab-456e-8e28-1cfdf4e40fc2', N'b9bfbf38-a510-4d9a-b1a4-ec10f8e9b970')
INSERT [dbo].[CategoryCharacteristic] ([id], [CategoryID], [CharacteristicID]) VALUES (N'040cf1b9-173c-467b-add1-032d265bcc33', N'e95292b5-a7a6-463e-a9f9-e1ff489e02b4', N'ab7619f5-1fd5-45e5-ba3e-43bd2a354917')
INSERT [dbo].[CategoryCharacteristic] ([id], [CategoryID], [CharacteristicID]) VALUES (N'c8343714-1a23-4d89-b482-1cbc140ef834', N'ba19562e-77ab-456e-8e28-1cfdf4e40fc2', N'd7a10659-41ec-4fe2-be90-da982afad260')
INSERT [dbo].[Characteristics] ([id], [Name]) VALUES (N'1793b40b-4dc1-4f04-96dc-16190ce74d8c', N'Bridge type')
INSERT [dbo].[Characteristics] ([id], [Name]) VALUES (N'447aadff-1b3f-4ab9-9b44-178534768a5b', N'Neck type')
INSERT [dbo].[Characteristics] ([id], [Name]) VALUES (N'92e998ec-4257-4efe-b864-24bc3fb9561a', N'Form')
INSERT [dbo].[CharValue] ([id], [intVal], [floatVal], [strVal]) VALUES (N'1196cf3a-200a-4c5e-aca4-019fdc28ccd7', NULL, NULL, N'Maple')
INSERT [dbo].[CharValue] ([id], [intVal], [floatVal], [strVal]) VALUES (N'23d09543-0eba-481d-8fe4-070bbdd01d83', NULL, NULL, N'HS')
INSERT [dbo].[CharValue] ([id], [intVal], [floatVal], [strVal]) VALUES (N'19ee3be3-9506-40c2-af66-07cc57d1f4a2', NULL, NULL, N'SSS')
INSERT [dbo].[CommentType] ([Id], [Name]) VALUES (N'e75638c1-ede3-4651-be8f-3eee8b527a99', N'Question')
INSERT [dbo].[CommentType] ([Id], [Name]) VALUES (N'22744601-8182-4c53-8378-5d998bc2004e', N'Complaint')
INSERT [dbo].[CommentType] ([Id], [Name]) VALUES (N'af43ff3d-0c9b-47a5-b067-67f284695270', N'Proposal')
INSERT [dbo].[Contacts] ([id], [userId], [contactTypeId], [Value]) VALUES (N'00dcdc08-33a7-4515-afe6-075a4185ae99', N'26ea779e-21ea-4999-98af-bc3b5d1ef068', N'953d65ba-d259-4467-833d-91b41b79f695', N'Kyiv, Khreschatyk 1')
INSERT [dbo].[Contacts] ([id], [userId], [contactTypeId], [Value]) VALUES (N'4cda3cd3-1d99-4b04-bc14-2b86154da754', N'6339b42c-3ef9-4c24-9f4c-82de9bbca566', N'9f91e8bc-6f45-444d-b965-521521d6010a', N'petrov@gmail.com')
INSERT [dbo].[Contacts] ([id], [userId], [contactTypeId], [Value]) VALUES (N'2c9fa535-e3ee-4e16-b184-52c3658fd446', N'086192ce-70e7-4410-b5d4-3f0f1486ea6a', N'7b961cba-7420-41c7-8f54-b49b83e5e7de', N'0991677007')
INSERT [dbo].[ContactType] ([id], [name]) VALUES (N'9f91e8bc-6f45-444d-b965-521521d6010a', N'Email')
INSERT [dbo].[ContactType] ([id], [name]) VALUES (N'953d65ba-d259-4467-833d-91b41b79f695', N'Address')
INSERT [dbo].[ContactType] ([id], [name]) VALUES (N'7b961cba-7420-41c7-8f54-b49b83e5e7de', N'Phone')
INSERT [dbo].[Country] ([id], [Name]) VALUES (N'5bc086d7-538e-4cbf-8d82-0ce725e6bc11', N'Korea')
INSERT [dbo].[Country] ([id], [Name]) VALUES (N'3c2a50de-9dca-4435-8342-1f3e14bc1577', N'Japan')
INSERT [dbo].[Country] ([id], [Name]) VALUES (N'35fcd710-1c9b-4c5b-8566-4dcdc4bf3a5e', N'China')
INSERT [dbo].[Curency] ([id], [Name]) VALUES (N'be2e38e5-337d-4898-a54a-5072d2f2a894', N'RUB')
INSERT [dbo].[Curency] ([id], [Name]) VALUES (N'035c980b-d8c8-4126-ba7f-65a1992b301d', N'EUR')
INSERT [dbo].[Curency] ([id], [Name]) VALUES (N'37820566-d2f7-44e7-b550-9675d1fc8168', N'UAH')
INSERT [dbo].[DeliveryType] ([id], [Name]) VALUES (N'a9aa9401-cf27-4196-9d8e-35e15fce1445', N'Address delivery')
INSERT [dbo].[DeliveryType] ([id], [Name]) VALUES (N'4554d7f9-863a-48e3-8584-788ddb60dcb0', N'Pickup')
INSERT [dbo].[Gender] ([id], [name]) VALUES (N'96676584-ed15-4991-900e-1403842591ef', N'Female')
INSERT [dbo].[Gender] ([id], [name]) VALUES (N'8de84309-62bb-49b4-8bd4-ce99295b8dcf', N'Male')
INSERT [dbo].[GeneralNews] ([id], [name], [description], [date]) VALUES (N'5c06f8d0-c49a-4238-b284-4ec61523f32a', N'We are opened', N'Some news', CAST(N'2017-07-12 03:59:48.723' AS DateTime))
INSERT [dbo].[GeneralNews] ([id], [name], [description], [date]) VALUES (N'f12b4170-3c2b-41b9-95b4-988a3992dffe', N'First news', N'123 123 123456', CAST(N'2017-07-12 04:00:15.163' AS DateTime))
INSERT [dbo].[Item] ([id], [Name], [Description], [CategoryID], [BrandID], [ManufCountryID], [BrandCOuntryID]) VALUES (N'983496eb-465f-4d29-8aa0-080a729997ec', N'121c', N'Some description about bass guitar here', N'7c64b12e-2a0d-4f81-a601-9b1281f84449', N'47dbf889-23a4-4c9d-b7f5-d63ef5eb542b', N'5bc086d7-538e-4cbf-8d82-0ce725e6bc11', N'43c6ee07-e1a0-4427-94b8-924cf566fca7')
INSERT [dbo].[Item] ([id], [Name], [Description], [CategoryID], [BrandID], [ManufCountryID], [BrandCOuntryID]) VALUES (N'da4aff3c-7aee-4a64-be3d-28024ecdc376', N'6895bc', N'Some description about bass guitar here', N'7c64b12e-2a0d-4f81-a601-9b1281f84449', N'6da6f476-4795-4130-a7b8-2b32e7c54f61', N'5bc086d7-538e-4cbf-8d82-0ce725e6bc11', N'43c6ee07-e1a0-4427-94b8-924cf566fca7')
INSERT [dbo].[Item] ([id], [Name], [Description], [CategoryID], [BrandID], [ManufCountryID], [BrandCOuntryID]) VALUES (N'9bf5d47f-f356-43a3-8104-28abcaa9112a', N'vortex X', N'Some description about bass guitar here', N'bc66c044-54c6-42d0-978d-191e21f3d8ee', N'5eaf6c25-5aaf-46c4-b302-112e1fa74af3', N'5bc086d7-538e-4cbf-8d82-0ce725e6bc11', N'43c6ee07-e1a0-4427-94b8-924cf566fca7')
INSERT [dbo].[ItemCharacteristics] ([id], [ItemID], [CharacteristicID], [CharVarID]) VALUES (N'4c1ee060-572f-4044-bd28-00753b8bc179', N'da4aff3c-7aee-4a64-be3d-28024ecdc376', N'447aadff-1b3f-4ab9-9b44-178534768a5b', N'a5c91041-a89e-4c30-b4b9-14d4721fa146')
INSERT [dbo].[ItemCharacteristics] ([id], [ItemID], [CharacteristicID], [CharVarID]) VALUES (N'80ab236d-ba8e-4d35-8df6-0441486d176d', N'9bf5d47f-f356-43a3-8104-28abcaa9112a', N'92e998ec-4257-4efe-b864-24bc3fb9561a', N'b28f3716-c6c0-4f57-a60e-8d43ad7369cf')
INSERT [dbo].[ItemCharacteristics] ([id], [ItemID], [CharacteristicID], [CharVarID]) VALUES (N'fd1e358b-1b39-4bf0-a5a9-04f2aa468bff', N'814a6d0d-fac9-4c0e-af3f-ca6cda4c5695', N'865e4c63-b3fe-4061-a4d4-60cf078f550a', N'506b2d83-91b8-4476-bb49-5683635904f4')
GO
INSERT [dbo].[Purpose] ([id], [ItemId], [AvailabilityTypeID], [IsPromo]) VALUES (N'88ab622f-9262-41fc-af2d-04ddfc42450a', N'1bd1f90c-91ee-4e26-a67b-4130b6caa96e', N'c9f3e4e0-d4de-4857-a282-1349caf63df4', 0)
INSERT [dbo].[Purpose] ([id], [ItemId], [AvailabilityTypeID], [IsPromo]) VALUES (N'6635f17a-e9d4-4508-924d-058bdd44e51a', N'48e234bb-cf39-4a27-ad6a-b45342a49963', N'a4c16f0c-f7fb-4751-9bdc-c1b94cd27236', 0)
INSERT [dbo].[Purpose] ([id], [ItemId], [AvailabilityTypeID], [IsPromo]) VALUES (N'89b15327-fd62-4e89-8370-1293e0a4cf08', N'86e0f3f9-747d-4099-862e-5b80c100eb1d', N'c9f3e4e0-d4de-4857-a282-1349caf63df4', 0)
INSERT [dbo].[purposePrice] ([id], [purposeId], [price], [date], [curencyID]) VALUES (N'0f3f52e7-8146-49a5-bfe1-024ff4a41774', N'64898159-4900-48c5-b6c8-46585f83347b', 500, CAST(N'2017-06-01' AS Date), N'23d17c67-8755-480a-ac67-ff7190f9b208')
INSERT [dbo].[purposePrice] ([id], [purposeId], [price], [date], [curencyID]) VALUES (N'f7889706-acfe-4822-bf08-10c3159b8d19', N'5074cd8b-0f59-47d4-ad1e-96b5bcf00443', 120, CAST(N'2017-06-01' AS Date), N'035c980b-d8c8-4126-ba7f-65a1992b301d')
INSERT [dbo].[purposePrice] ([id], [purposeId], [price], [date], [curencyID]) VALUES (N'e376cd16-3785-4dda-987a-29441f6a1c4a', N'e9407834-1db9-4684-b80f-6583831c2312', 7500, CAST(N'2017-06-01' AS Date), N'37820566-d2f7-44e7-b550-9675d1fc8168')
INSERT [dbo].[Role] ([id], [Name]) VALUES (N'93341fcf-0fdc-4a85-aac4-0198ed93d696', N'Manager')
INSERT [dbo].[Role] ([id], [Name]) VALUES (N'c28c127b-f693-46ac-bad4-307fb5d09025', N'User')
INSERT [dbo].[Role] ([id], [Name]) VALUES (N'3e3964b4-425f-4f12-86ae-a582647a3e16', N'Admin')
INSERT [dbo].[status] ([id], [name]) VALUES (N'41faf4c9-0634-466f-920a-2bcc20713fd1', N'Shipped')
INSERT [dbo].[status] ([id], [name]) VALUES (N'bd0fab88-5764-4615-84b8-48e05155c9da', N'New')
INSERT [dbo].[status] ([id], [name]) VALUES (N'7c8fac7d-62bb-486d-b2b8-5a810dbbd796', N'In process')
INSERT [dbo].[userRole] ([id], [userId], [roleID]) VALUES (N'9eb4e49e-336c-45ae-b7e4-0c54bb5b3f86', N'26ea779e-21ea-4999-98af-bc3b5d1ef068', N'3e3964b4-425f-4f12-86ae-a582647a3e16')
INSERT [dbo].[userRole] ([id], [userId], [roleID]) VALUES (N'8ae93a3b-1dde-40a7-ace6-50086aefbb64', N'9e5b2abf-46a9-4500-a08b-bd18e468cda2', N'c28c127b-f693-46ac-bad4-307fb5d09025')
INSERT [dbo].[userRole] ([id], [userId], [roleID]) VALUES (N'ce2d3ee0-261c-4379-bb01-c09d592c46dd', N'086192ce-70e7-4410-b5d4-3f0f1486ea6a', N'3e3964b4-425f-4f12-86ae-a582647a3e16')
INSERT [dbo].[users] ([id], [name], [Lname], [Login], [Password], [email], [birthDate], [GenderID]) VALUES (N'086192ce-70e7-4410-b5d4-3f0f1486ea6a', N'Dmitry', N'Volkovsky', N'wrider', N'1111', N'wrider@gmail.com', CAST(N'1991-10-01' AS Date), N'96676584-ed15-4991-900e-1403842591ef')
INSERT [dbo].[users] ([id], [name], [Lname], [Login], [Password], [email], [birthDate], [GenderID]) VALUES (N'6339b42c-3ef9-4c24-9f4c-82de9bbca566', N'Ivan', N'Petrov', N'petrovlogin', N'1111', N'petrov@gmail.com', CAST(N'1990-01-01' AS Date), N'8de84309-62bb-49b4-8bd4-ce99295b8dcf')
INSERT [dbo].[users] ([id], [name], [Lname], [Login], [Password], [email], [birthDate], [GenderID]) VALUES (N'26ea779e-21ea-4999-98af-bc3b5d1ef068', N'Alexey', N'Zheleznichenko', N'akiles', N'100101001', N'alexeyzheleznichenko@gmail.com', CAST(N'1991-07-28' AS Date), N'8de84309-62bb-49b4-8bd4-ce99295b8dcf')
ALTER TABLE [dbo].[Comment] ADD  CONSTRAINT [DF_Comment_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[ItemImage] ADD  CONSTRAINT [DF_ItemImage_id]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Order_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[OrderItems] ADD  CONSTRAINT [DF_OrderItems_id]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Category_Category1] FOREIGN KEY([ParentID])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK_Category_Category1]
GO
ALTER TABLE [dbo].[CategoryCharacteristic]  WITH CHECK ADD  CONSTRAINT [FK_CategoryCharacteristic_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[CategoryCharacteristic] CHECK CONSTRAINT [FK_CategoryCharacteristic_Category]
GO
ALTER TABLE [dbo].[CategoryCharacteristic]  WITH CHECK ADD  CONSTRAINT [FK_CategoryCharacteristic_Characteristics] FOREIGN KEY([CharacteristicID])
REFERENCES [dbo].[Characteristics] ([id])
GO
ALTER TABLE [dbo].[CategoryCharacteristic] CHECK CONSTRAINT [FK_CategoryCharacteristic_Characteristics]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_CommentType] FOREIGN KEY([CommentTypeId])
REFERENCES [dbo].[CommentType] ([Id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_CommentType]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Item] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Item]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_users] FOREIGN KEY([UserId])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_users]
GO
ALTER TABLE [dbo].[Contacts]  WITH CHECK ADD  CONSTRAINT [FK_Contacts_ContactType] FOREIGN KEY([contactTypeId])
REFERENCES [dbo].[ContactType] ([id])
GO
ALTER TABLE [dbo].[Contacts] CHECK CONSTRAINT [FK_Contacts_ContactType]
GO
ALTER TABLE [dbo].[Contacts]  WITH CHECK ADD  CONSTRAINT [FK_Contacts_users] FOREIGN KEY([userId])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[Contacts] CHECK CONSTRAINT [FK_Contacts_users]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_Item_Brand] FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brand] ([Id])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_Item_Brand]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_Item_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_Item_Category]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_Item_Country] FOREIGN KEY([ManufCountryID])
REFERENCES [dbo].[Country] ([id])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_Item_Country]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_Item_Country1] FOREIGN KEY([BrandCOuntryID])
REFERENCES [dbo].[Country] ([id])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_Item_Country1]
GO
ALTER TABLE [dbo].[ItemCharacteristics]  WITH CHECK ADD  CONSTRAINT [FK_ItemCharacteristics_Characteristics] FOREIGN KEY([CharacteristicID])
REFERENCES [dbo].[Characteristics] ([id])
GO
ALTER TABLE [dbo].[ItemCharacteristics] CHECK CONSTRAINT [FK_ItemCharacteristics_Characteristics]
GO
ALTER TABLE [dbo].[ItemCharacteristics]  WITH CHECK ADD  CONSTRAINT [FK_ItemCharacteristics_CharValue] FOREIGN KEY([CharVarID])
REFERENCES [dbo].[CharValue] ([id])
GO
ALTER TABLE [dbo].[ItemCharacteristics] CHECK CONSTRAINT [FK_ItemCharacteristics_CharValue]
GO
ALTER TABLE [dbo].[ItemCharacteristics]  WITH CHECK ADD  CONSTRAINT [FK_ItemCharacteristics_Item] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Item] ([id])
GO
ALTER TABLE [dbo].[ItemCharacteristics] CHECK CONSTRAINT [FK_ItemCharacteristics_Item]
GO
ALTER TABLE [dbo].[ItemImage]  WITH CHECK ADD  CONSTRAINT [FK_ItemImage_Item] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([id])
GO
ALTER TABLE [dbo].[ItemImage] CHECK CONSTRAINT [FK_ItemImage_Item]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_DeliveryType] FOREIGN KEY([DeliveryTypeId])
REFERENCES [dbo].[DeliveryType] ([id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_DeliveryType]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_status]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_users] FOREIGN KEY([UserId])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_users]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Item] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Item]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Order]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Purpose] FOREIGN KEY([purposeId])
REFERENCES [dbo].[Purpose] ([id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Purpose]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_purposePrice] FOREIGN KEY([purposePriceId])
REFERENCES [dbo].[purposePrice] ([id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_purposePrice]
GO
ALTER TABLE [dbo].[Purpose]  WITH CHECK ADD  CONSTRAINT [FK_Purpose_AvailabilityType] FOREIGN KEY([AvailabilityTypeID])
REFERENCES [dbo].[AvailabilityType] ([id])
GO
ALTER TABLE [dbo].[Purpose] CHECK CONSTRAINT [FK_Purpose_AvailabilityType]
GO
ALTER TABLE [dbo].[Purpose]  WITH CHECK ADD  CONSTRAINT [FK_Purpose_Item] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([id])
GO
ALTER TABLE [dbo].[Purpose] CHECK CONSTRAINT [FK_Purpose_Item]
GO
ALTER TABLE [dbo].[purposePrice]  WITH CHECK ADD  CONSTRAINT [FK_purposePrice_Curency] FOREIGN KEY([curencyID])
REFERENCES [dbo].[Curency] ([id])
GO
ALTER TABLE [dbo].[purposePrice] CHECK CONSTRAINT [FK_purposePrice_Curency]
GO
ALTER TABLE [dbo].[purposePrice]  WITH CHECK ADD  CONSTRAINT [FK_purposePrice_Purpose] FOREIGN KEY([purposeId])
REFERENCES [dbo].[Purpose] ([id])
GO
ALTER TABLE [dbo].[purposePrice] CHECK CONSTRAINT [FK_purposePrice_Purpose]
GO
ALTER TABLE [dbo].[userRole]  WITH CHECK ADD  CONSTRAINT [FK_userRole_Role] FOREIGN KEY([roleID])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[userRole] CHECK CONSTRAINT [FK_userRole_Role]
GO
ALTER TABLE [dbo].[userRole]  WITH CHECK ADD  CONSTRAINT [FK_userRole_users] FOREIGN KEY([userId])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[userRole] CHECK CONSTRAINT [FK_userRole_users]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_Gender] FOREIGN KEY([GenderID])
REFERENCES [dbo].[Gender] ([id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_Gender]
GO
