@model IEnumerable<Store.WEB.Models.CategoryVM>

@{
    ViewBag.Title = "SubCategories";
}

<h2>SubCategories</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.ActionLink("GO TO", "PurposesList", "Catalog", new { id = item.CategoryId , st = ""}, null) 
        </td>
    </tr>
}

</table>
