<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>


    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
        <!--<parameter value="Data Source=Clamp01Server;Initial Catalog = GuitarShopDEV;user id = user1 ; password = 11111; Integrated Security=False; MultipleActiveResultSets=True" />-->
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--DAL-->
  <connectionStrings>
    <!--<add name="GuitarShopDEVEntities" connectionString="Data Source=Clamp01Server;Initial Catalog=GuitarShopDEV;Integrated Security=True"
       providerName="System.Data.SqlClient"/>-->
    <!--<add name="ResistToWorkDB" connectionString="data source=Clamp01Server;initial catalog=GuitarShopDEV;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  -->
  </connectionStrings>

</configuration>