USE [GuitarShopDEVTest]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 04.10.2017 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 04.10.2017 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 04.10.2017 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 04.10.2017 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 04.10.2017 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 04.10.2017 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[GenderId] [uniqueidentifier] NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AvailabilityType]    Script Date: 04.10.2017 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AvailabilityType](
	[id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](150) NULL,
 CONSTRAINT [PK_dbo.AvailabilityType] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Brand]    Script Date: 04.10.2017 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Brand] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 04.10.2017 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [uniqueidentifier] NOT NULL,
	[ParentCategoryID] [uniqueidentifier] NULL,
	[Name] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo.Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CategoryCharacteristic]    Script Date: 04.10.2017 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryCharacteristic](
	[Id] [uniqueidentifier] NOT NULL,
	[CategoryID] [uniqueidentifier] NULL,
	[CharacteristicID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.CategoryCharacteristic] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Characteristics]    Script Date: 04.10.2017 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Characteristics](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo.Characteristics] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CharValue]    Script Date: 04.10.2017 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CharValue](
	[Id] [uniqueidentifier] NOT NULL,
	[CharacteristicId] [uniqueidentifier] NOT NULL,
	[IntVal] [int] NULL,
	[FloatVal] [float] NULL,
	[StrVal] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo.CharValue] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comment]    Script Date: 04.10.2017 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[Id] [uniqueidentifier] NOT NULL,
	[ItemId] [uniqueidentifier] NULL,
	[UserId] [nvarchar](128) NULL,
	[UserName] [nvarchar](50) NULL,
	[CommentTypeId] [uniqueidentifier] NULL,
	[Comment] [nvarchar](max) NULL,
	[Date] [datetime] NULL,
	[ApplicationUser_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Comment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CommentType]    Script Date: 04.10.2017 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommentType](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.CommentType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 04.10.2017 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [nvarchar](128) NULL,
	[ContactTypeId] [uniqueidentifier] NULL,
	[Value] [nvarchar](50) NULL,
	[ApplicationUser_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Contacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ContactType]    Script Date: 04.10.2017 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactType](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.ContactType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Country]    Script Date: 04.10.2017 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.Country] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Curency]    Script Date: 04.10.2017 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curency](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Curency] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DeliveryType]    Script Date: 04.10.2017 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryType](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.DeliveryType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Gender]    Script Date: 04.10.2017 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Gender] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GeneralNews]    Script Date: 04.10.2017 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeneralNews](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[Date] [datetime] NULL,
 CONSTRAINT [PK_dbo.GeneralNews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Item]    Script Date: 04.10.2017 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](500) NULL,
	[CategoryID] [uniqueidentifier] NULL,
	[BrandID] [uniqueidentifier] NULL,
	[ManufCountryID] [uniqueidentifier] NOT NULL,
	[BrandCountryID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.Item] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ItemCharacteristics]    Script Date: 04.10.2017 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemCharacteristics](
	[Id] [uniqueidentifier] NOT NULL,
	[ItemID] [uniqueidentifier] NULL,
	[CharacteristicID] [uniqueidentifier] NULL,
	[CharValueID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.ItemCharacteristics] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ItemImage]    Script Date: 04.10.2017 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemImage](
	[Id] [uniqueidentifier] NOT NULL,
	[ItemId] [uniqueidentifier] NOT NULL,
	[ImageURL] [nvarchar](max) NULL,
	[VideoURL] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ItemImage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Order]    Script Date: 04.10.2017 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [uniqueidentifier] NOT NULL,
	[StatusId] [uniqueidentifier] NULL,
	[ApplicationUserId] [nvarchar](128) NULL,
	[Comment] [nvarchar](500) NULL,
	[ContactId] [uniqueidentifier] NULL,
	[Name] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Address] [nvarchar](250) NULL,
	[Number] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NULL,
	[DeliveryTypeId] [uniqueidentifier] NULL,
	[Email] [nvarchar](250) NULL,
 CONSTRAINT [PK_dbo.Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 04.10.2017 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[Id] [uniqueidentifier] NOT NULL,
	[ItemId] [uniqueidentifier] NOT NULL,
	[PurposePriceId] [uniqueidentifier] NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
	[Count] [int] NOT NULL,
	[PurposeId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.OrderItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Purpose]    Script Date: 04.10.2017 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purpose](
	[Id] [uniqueidentifier] NOT NULL,
	[ItemId] [uniqueidentifier] NULL,
	[AvailabilityTypeID] [uniqueidentifier] NULL,
	[IsPromo] [bit] NULL,
 CONSTRAINT [PK_dbo.Purpose] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[purposePrice]    Script Date: 04.10.2017 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[purposePrice](
	[Id] [uniqueidentifier] NOT NULL,
	[PurposeId] [uniqueidentifier] NULL,
	[Price] [float] NULL,
	[Date] [date] NULL,
	[CurencyID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.purposePrice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Status]    Script Date: 04.10.2017 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Discriminator]) VALUES (N'2e254434-e0a1-4313-9d47-454a2ce56b9c', N'user', N'ApplicationRole')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Discriminator]) VALUES (N'd16e0613-16a2-41a6-90a2-0bb7f69cb15e', N'admin', N'ApplicationRole')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Discriminator]) VALUES (N'e44cf2d1-d453-4f95-8862-1ebddf7048e1', N'manager', N'ApplicationRole')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'5c6c38ea-dc60-4ba0-90e5-9be46c80f947', N'd16e0613-16a2-41a6-90a2-0bb7f69cb15e')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'2e213111-7f84-445d-a1d3-a76bc3884161', N'e44cf2d1-d453-4f95-8862-1ebddf7048e1')
INSERT [dbo].[AspNetUsers] ([Id], [GenderId], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'2e213111-7f84-445d-a1d3-a76bc3884161', NULL, N'manager@mail.net', 0, N'AHkIVHisze529TKJzBizkE/Hx5pJztr5+HYcJhYNzvMLbVtFuA0AobN6YX7bFaPFug==', N'5f92b718-2557-4de7-a03e-5e2aae116424', NULL, 0, 0, NULL, 0, 0, N'manager@mail.net')
INSERT [dbo].[AspNetUsers] ([Id], [GenderId], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'5c6c38ea-dc60-4ba0-90e5-9be46c80f947', NULL, N'admin@mail.net', 0, N'AMVgrDjVHqXN5fVuZBcZIvPWqAkRXGLGtKxxv7lgRvbzz+Un+bZqU34y5Vcpq88uqQ==', N'84eb79e3-67bd-447a-9aff-af744a63f436', NULL, 0, 0, NULL, 0, 0, N'admin@mail.net')
INSERT [dbo].[AvailabilityType] ([id], [Name]) VALUES (N'c9f3e4e0-d4de-4857-a282-1349caf63df4', N'Available')
INSERT [dbo].[AvailabilityType] ([id], [Name]) VALUES (N'0358605e-94a3-4f0f-b2f6-1f77c4ddc962', N'Not available')
INSERT [dbo].[AvailabilityType] ([id], [Name]) VALUES (N'a4c16f0c-f7fb-4751-9bdc-c1b94cd27236', N'Discontinue')
INSERT [dbo].[Brand] ([Id], [Name]) VALUES (N'5eaf6c25-5aaf-46c4-b302-112e1fa74af3', N'Fernandes')
INSERT [dbo].[Brand] ([Id], [Name]) VALUES (N'a111ed0e-0960-44a1-bbdc-12678b7ad31b', N'FillPro')
INSERT [dbo].[Brand] ([Id], [Name]) VALUES (N'3e728b39-b3d9-4d1f-9263-16172d529393', N'J&Dbrothers')
INSERT [dbo].[Category] ([Id], [ParentCategoryID], [Name]) VALUES (N'dee1eeca-7cab-423f-84c0-03da47661a68', N'ba19562e-77ab-456e-8e28-1cfdf4e40fc2', N'Acoustic Bass Guitar')
INSERT [dbo].[Category] ([Id], [ParentCategoryID], [Name]) VALUES (N'09d1e004-7d78-40d8-ae8c-0cfa4620b1a5', NULL, N'Strings')
INSERT [dbo].[Category] ([Id], [ParentCategoryID], [Name]) VALUES (N'bc66c044-54c6-42d0-978d-191e21f3d8ee', N'ba19562e-77ab-456e-8e28-1cfdf4e40fc2', N'Electro-Acoustic Guitars')
INSERT [dbo].[CategoryCharacteristic] ([Id], [CategoryID], [CharacteristicID]) VALUES (N'c56ad2a1-6529-4a4f-a0db-01d1d811b60a', N'ba19562e-77ab-456e-8e28-1cfdf4e40fc2', N'b9bfbf38-a510-4d9a-b1a4-ec10f8e9b970')
INSERT [dbo].[CategoryCharacteristic] ([Id], [CategoryID], [CharacteristicID]) VALUES (N'040cf1b9-173c-467b-add1-032d265bcc33', N'e95292b5-a7a6-463e-a9f9-e1ff489e02b4', N'ab7619f5-1fd5-45e5-ba3e-43bd2a354917')
INSERT [dbo].[CategoryCharacteristic] ([Id], [CategoryID], [CharacteristicID]) VALUES (N'c8343714-1a23-4d89-b482-1cbc140ef834', N'ba19562e-77ab-456e-8e28-1cfdf4e40fc2', N'd7a10659-41ec-4fe2-be90-da982afad260')
INSERT [dbo].[Characteristics] ([Id], [Name]) VALUES (N'1793b40b-4dc1-4f04-96dc-16190ce74d8c', N'BrIdge type')
INSERT [dbo].[Characteristics] ([Id], [Name]) VALUES (N'447aadff-1b3f-4ab9-9b44-178534768a5b', N'Neck type')
INSERT [dbo].[Characteristics] ([Id], [Name]) VALUES (N'92e998ec-4257-4efe-b864-24bc3fb9561a', N'Form')
INSERT [dbo].[CharValue] ([Id], [CharacteristicId], [IntVal], [FloatVal], [StrVal]) VALUES (N'1196cf3a-200a-4c5e-aca4-019fdc28ccd7', N'b9bfbf38-a510-4d9a-b1a4-ec10f8e9b970', NULL, NULL, N'Maple')
INSERT [dbo].[CharValue] ([Id], [CharacteristicId], [IntVal], [FloatVal], [StrVal]) VALUES (N'23d09543-0eba-481d-8fe4-070bbdd01d83', N'7eb967cf-9289-4b8b-9e54-ce7b2c986c00', NULL, NULL, N'HS')
INSERT [dbo].[CharValue] ([Id], [CharacteristicId], [IntVal], [FloatVal], [StrVal]) VALUES (N'19ee3be3-9506-40c2-af66-07cc57d1f4a2', N'7eb967cf-9289-4b8b-9e54-ce7b2c986c00', NULL, NULL, N'SSS')
INSERT [dbo].[CommentType] ([Id], [Name]) VALUES (N'e75638c1-ede3-4651-be8f-3eee8b527a99', N'Question')
INSERT [dbo].[CommentType] ([Id], [Name]) VALUES (N'22744601-8182-4c53-8378-5d998bc2004e', N'Complaint')
INSERT [dbo].[CommentType] ([Id], [Name]) VALUES (N'af43ff3d-0c9b-47a5-b067-67f284695270', N'Proposal')
INSERT [dbo].[ContactType] ([Id], [Name]) VALUES (N'9f91e8bc-6f45-444d-b965-521521d6010a', N'Email')
INSERT [dbo].[ContactType] ([Id], [Name]) VALUES (N'953d65ba-d259-4467-833d-91b41b79f695', N'Address')
INSERT [dbo].[ContactType] ([Id], [Name]) VALUES (N'7b961cba-7420-41c7-8f54-b49b83e5e7de', N'Phone')
INSERT [dbo].[Country] ([Id], [Name]) VALUES (N'5bc086d7-538e-4cbf-8d82-0ce725e6bc11', N'Korea')
INSERT [dbo].[Country] ([Id], [Name]) VALUES (N'3c2a50de-9dca-4435-8342-1f3e14bc1577', N'Japan')
INSERT [dbo].[Country] ([Id], [Name]) VALUES (N'35fcd710-1c9b-4c5b-8566-4dcdc4bf3a5e', N'China')
INSERT [dbo].[Curency] ([Id], [Name]) VALUES (N'be2e38e5-337d-4898-a54a-5072d2f2a894', N'RUB')
INSERT [dbo].[Curency] ([Id], [Name]) VALUES (N'035c980b-d8c8-4126-ba7f-65a1992b301d', N'EUR')
INSERT [dbo].[Curency] ([Id], [Name]) VALUES (N'37820566-d2f7-44e7-b550-9675d1fc8168', N'UAH')
INSERT [dbo].[DeliveryType] ([Id], [Name]) VALUES (N'a9aa9401-cf27-4196-9d8e-35e15fce1445', N'Address delivery')
INSERT [dbo].[DeliveryType] ([Id], [Name]) VALUES (N'4554d7f9-863a-48e3-8584-788ddb60dcb0', N'Pickup')
INSERT [dbo].[Gender] ([Id], [Name]) VALUES (N'96676584-ed15-4991-900e-1403842591ef', N'Female')
INSERT [dbo].[Gender] ([Id], [Name]) VALUES (N'8de84309-62bb-49b4-8bd4-ce99295b8dcf', N'Male')
INSERT [dbo].[GeneralNews] ([Id], [Name], [Description], [Date]) VALUES (N'5c06f8d0-c49a-4238-b284-4ec61523f32a', N'We are opened', N'Some news', CAST(N'2017-07-12 03:59:48.723' AS DateTime))
INSERT [dbo].[GeneralNews] ([Id], [Name], [Description], [Date]) VALUES (N'f12b4170-3c2b-41b9-95b4-988a3992dffe', N'First news', N'123 123 123456', CAST(N'2017-07-12 04:00:15.163' AS DateTime))
INSERT [dbo].[Item] ([Id], [Name], [Description], [CategoryID], [BrandID], [ManufCountryID], [BrandCountryID]) VALUES (N'983496eb-465f-4d29-8aa0-080a729997ec', N'121c', N'Some description about bass guitar here', N'7c64b12e-2a0d-4f81-a601-9b1281f84449', N'47dbf889-23a4-4c9d-b7f5-d63ef5eb542b', N'5bc086d7-538e-4cbf-8d82-0ce725e6bc11', N'43c6ee07-e1a0-4427-94b8-924cf566fca7')
INSERT [dbo].[Item] ([Id], [Name], [Description], [CategoryID], [BrandID], [ManufCountryID], [BrandCountryID]) VALUES (N'da4aff3c-7aee-4a64-be3d-28024ecdc376', N'6895bc', N'Some description about bass guitar here', N'7c64b12e-2a0d-4f81-a601-9b1281f84449', N'6da6f476-4795-4130-a7b8-2b32e7c54f61', N'5bc086d7-538e-4cbf-8d82-0ce725e6bc11', N'43c6ee07-e1a0-4427-94b8-924cf566fca7')
INSERT [dbo].[Item] ([Id], [Name], [Description], [CategoryID], [BrandID], [ManufCountryID], [BrandCountryID]) VALUES (N'9bf5d47f-f356-43a3-8104-28abcaa9112a', N'vortex X', N'Some description about bass guitar here', N'bc66c044-54c6-42d0-978d-191e21f3d8ee', N'5eaf6c25-5aaf-46c4-b302-112e1fa74af3', N'5bc086d7-538e-4cbf-8d82-0ce725e6bc11', N'43c6ee07-e1a0-4427-94b8-924cf566fca7')
INSERT [dbo].[ItemCharacteristics] ([Id], [ItemID], [CharacteristicID], [CharValueID]) VALUES (N'4c1ee060-572f-4044-bd28-00753b8bc179', N'da4aff3c-7aee-4a64-be3d-28024ecdc376', N'447aadff-1b3f-4ab9-9b44-178534768a5b', N'a5c91041-a89e-4c30-b4b9-14d4721fa146')
INSERT [dbo].[ItemCharacteristics] ([Id], [ItemID], [CharacteristicID], [CharValueID]) VALUES (N'80ab236d-ba8e-4d35-8df6-0441486d176d', N'9bf5d47f-f356-43a3-8104-28abcaa9112a', N'92e998ec-4257-4efe-b864-24bc3fb9561a', N'b28f3716-c6c0-4f57-a60e-8d43ad7369cf')
INSERT [dbo].[ItemCharacteristics] ([Id], [ItemID], [CharacteristicID], [CharValueID]) VALUES (N'fd1e358b-1b39-4bf0-a5a9-04f2aa468bff', N'814a6d0d-fac9-4c0e-af3f-ca6cda4c5695', N'865e4c63-b3fe-4061-a4d4-60cf078f550a', N'506b2d83-91b8-4476-bb49-5683635904f4')
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([Id], [StatusId], [ApplicationUserId], [Comment], [ContactId], [Name], [LastName], [Phone], [Address], [Number], [Date], [DeliveryTypeId], [Email]) VALUES (N'521d4229-8c3c-4488-ba38-18540c5a7f37', N'e335a99a-fdd9-45b1-982b-ad54abdd7948', N'5c6c38ea-dc60-4ba0-90e5-9be46c80f947', N'admin@mail.net', NULL, N'admin@mail.net', N'admin@mail.net', N'admin@mail.net', N'admin@mail.net', 1, CAST(N'2017-10-04 14:02:03.000' AS DateTime), N'a9aa9401-cf27-4196-9d8e-35e15fce1445', N'admin@mail.net')
SET IDENTITY_INSERT [dbo].[Order] OFF
INSERT [dbo].[OrderItems] ([Id], [ItemId], [PurposePriceId], [OrderId], [Count], [PurposeId]) VALUES (N'e225c6df-cb8d-4ba2-9c52-e41deb7bf022', N'41cfc46d-c3a2-4a57-9a6e-de671decf29f', N'7bf81ef1-bab9-44cd-82ea-1f82f1340a18', N'521d4229-8c3c-4488-ba38-18540c5a7f37', 1, N'3329c917-3c61-4b0f-a492-511b6521fd83')
INSERT [dbo].[Purpose] ([Id], [ItemId], [AvailabilityTypeID], [IsPromo]) VALUES (N'88ab622f-9262-41fc-af2d-04ddfc42450a', N'1bd1f90c-91ee-4e26-a67b-4130b6caa96e', N'c9f3e4e0-d4de-4857-a282-1349caf63df4', 0)
INSERT [dbo].[Purpose] ([Id], [ItemId], [AvailabilityTypeID], [IsPromo]) VALUES (N'6635f17a-e9d4-4508-924d-058bdd44e51a', N'48e234bb-cf39-4a27-ad6a-b45342a49963', N'a4c16f0c-f7fb-4751-9bdc-c1b94cd27236', 0)
INSERT [dbo].[Purpose] ([Id], [ItemId], [AvailabilityTypeID], [IsPromo]) VALUES (N'89b15327-fd62-4e89-8370-1293e0a4cf08', N'86e0f3f9-747d-4099-862e-5b80c100eb1d', N'c9f3e4e0-d4de-4857-a282-1349caf63df4', 0)
INSERT [dbo].[purposePrice] ([Id], [PurposeId], [Price], [Date], [CurencyID]) VALUES (N'0f3f52e7-8146-49a5-bfe1-024ff4a41774', N'64898159-4900-48c5-b6c8-46585f83347b', 500, CAST(N'2017-06-01' AS Date), N'23d17c67-8755-480a-ac67-ff7190f9b208')
INSERT [dbo].[purposePrice] ([Id], [PurposeId], [Price], [Date], [CurencyID]) VALUES (N'f7889706-acfe-4822-bf08-10c3159b8d19', N'5074cd8b-0f59-47d4-ad1e-96b5bcf00443', 120, CAST(N'2017-06-01' AS Date), N'035c980b-d8c8-4126-ba7f-65a1992b301d')
INSERT [dbo].[purposePrice] ([Id], [PurposeId], [Price], [Date], [CurencyID]) VALUES (N'7bf81ef1-bab9-44cd-82ea-1f82f1340a18', N'3329c917-3c61-4b0f-a492-511b6521fd83', 700, CAST(N'2017-10-04' AS Date), N'23d17c67-8755-480a-ac67-ff7190f9b208')
INSERT [dbo].[Status] ([Id], [Name]) VALUES (N'41faf4c9-0634-466f-920a-2bcc20713fd1', N'Shipped')
INSERT [dbo].[Status] ([Id], [Name]) VALUES (N'bd0fab88-5764-4615-84b8-48e05155c9da', N'New')
INSERT [dbo].[Status] ([Id], [Name]) VALUES (N'7c8fac7d-62bb-486d-b2b8-5a810dbbd796', N'In process')
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUsers_dbo.Gender_GenderId] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Gender] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_dbo.AspNetUsers_dbo.Gender_GenderId]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Category_dbo.Category_ParentCategoryID] FOREIGN KEY([ParentCategoryID])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK_dbo.Category_dbo.Category_ParentCategoryID]
GO
ALTER TABLE [dbo].[CategoryCharacteristic]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CategoryCharacteristic_dbo.Category_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[CategoryCharacteristic] CHECK CONSTRAINT [FK_dbo.CategoryCharacteristic_dbo.Category_CategoryID]
GO
ALTER TABLE [dbo].[CategoryCharacteristic]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CategoryCharacteristic_dbo.Characteristics_CharacteristicID] FOREIGN KEY([CharacteristicID])
REFERENCES [dbo].[Characteristics] ([Id])
GO
ALTER TABLE [dbo].[CategoryCharacteristic] CHECK CONSTRAINT [FK_dbo.CategoryCharacteristic_dbo.Characteristics_CharacteristicID]
GO
ALTER TABLE [dbo].[CharValue]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CharValue_dbo.Characteristics_CharacteristicId] FOREIGN KEY([CharacteristicId])
REFERENCES [dbo].[Characteristics] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CharValue] CHECK CONSTRAINT [FK_dbo.CharValue_dbo.Characteristics_CharacteristicId]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comment_dbo.AspNetUsers_ApplicationUser_Id] FOREIGN KEY([ApplicationUser_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_dbo.Comment_dbo.AspNetUsers_ApplicationUser_Id]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comment_dbo.CommentType_CommentTypeId] FOREIGN KEY([CommentTypeId])
REFERENCES [dbo].[CommentType] ([Id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_dbo.Comment_dbo.CommentType_CommentTypeId]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comment_dbo.Item_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([Id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_dbo.Comment_dbo.Item_ItemId]
GO
ALTER TABLE [dbo].[Contacts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Contacts_dbo.AspNetUsers_ApplicationUser_Id] FOREIGN KEY([ApplicationUser_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Contacts] CHECK CONSTRAINT [FK_dbo.Contacts_dbo.AspNetUsers_ApplicationUser_Id]
GO
ALTER TABLE [dbo].[Contacts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Contacts_dbo.ContactType_ContactTypeId] FOREIGN KEY([ContactTypeId])
REFERENCES [dbo].[ContactType] ([Id])
GO
ALTER TABLE [dbo].[Contacts] CHECK CONSTRAINT [FK_dbo.Contacts_dbo.ContactType_ContactTypeId]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Item_dbo.Brand_BrandID] FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brand] ([Id])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_dbo.Item_dbo.Brand_BrandID]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Item_dbo.Category_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_dbo.Item_dbo.Category_CategoryID]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Item_dbo.Country_BrandCountryID] FOREIGN KEY([BrandCountryID])
REFERENCES [dbo].[Country] ([Id])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_dbo.Item_dbo.Country_BrandCountryID]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Item_dbo.Country_ManufCountryID] FOREIGN KEY([ManufCountryID])
REFERENCES [dbo].[Country] ([Id])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_dbo.Item_dbo.Country_ManufCountryID]
GO
ALTER TABLE [dbo].[ItemCharacteristics]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ItemCharacteristics_dbo.Characteristics_CharacteristicID] FOREIGN KEY([CharacteristicID])
REFERENCES [dbo].[Characteristics] ([Id])
GO
ALTER TABLE [dbo].[ItemCharacteristics] CHECK CONSTRAINT [FK_dbo.ItemCharacteristics_dbo.Characteristics_CharacteristicID]
GO
ALTER TABLE [dbo].[ItemCharacteristics]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ItemCharacteristics_dbo.CharValue_CharValueID] FOREIGN KEY([CharValueID])
REFERENCES [dbo].[CharValue] ([Id])
GO
ALTER TABLE [dbo].[ItemCharacteristics] CHECK CONSTRAINT [FK_dbo.ItemCharacteristics_dbo.CharValue_CharValueID]
GO
ALTER TABLE [dbo].[ItemCharacteristics]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ItemCharacteristics_dbo.Item_ItemID] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Item] ([Id])
GO
ALTER TABLE [dbo].[ItemCharacteristics] CHECK CONSTRAINT [FK_dbo.ItemCharacteristics_dbo.Item_ItemID]
GO
ALTER TABLE [dbo].[ItemImage]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ItemImage_dbo.Item_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemImage] CHECK CONSTRAINT [FK_dbo.ItemImage_dbo.Item_ItemId]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Order_dbo.AspNetUsers_ApplicationUserId] FOREIGN KEY([ApplicationUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_dbo.Order_dbo.AspNetUsers_ApplicationUserId]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Order_dbo.DeliveryType_DeliveryTypeId] FOREIGN KEY([DeliveryTypeId])
REFERENCES [dbo].[DeliveryType] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_dbo.Order_dbo.DeliveryType_DeliveryTypeId]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Order_dbo.Status_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_dbo.Order_dbo.Status_StatusId]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderItems_dbo.Item_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_dbo.OrderItems_dbo.Item_ItemId]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderItems_dbo.Order_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_dbo.OrderItems_dbo.Order_OrderId]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderItems_dbo.Purpose_PurposeId] FOREIGN KEY([PurposeId])
REFERENCES [dbo].[Purpose] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_dbo.OrderItems_dbo.Purpose_PurposeId]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderItems_dbo.purposePrice_PurposePriceId] FOREIGN KEY([PurposePriceId])
REFERENCES [dbo].[purposePrice] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_dbo.OrderItems_dbo.purposePrice_PurposePriceId]
GO
ALTER TABLE [dbo].[Purpose]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Purpose_dbo.AvailabilityType_AvailabilityTypeID] FOREIGN KEY([AvailabilityTypeID])
REFERENCES [dbo].[AvailabilityType] ([id])
GO
ALTER TABLE [dbo].[Purpose] CHECK CONSTRAINT [FK_dbo.Purpose_dbo.AvailabilityType_AvailabilityTypeID]
GO
ALTER TABLE [dbo].[Purpose]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Purpose_dbo.Item_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([Id])
GO
ALTER TABLE [dbo].[Purpose] CHECK CONSTRAINT [FK_dbo.Purpose_dbo.Item_ItemId]
GO
ALTER TABLE [dbo].[purposePrice]  WITH CHECK ADD  CONSTRAINT [FK_dbo.purposePrice_dbo.Curency_CurencyID] FOREIGN KEY([CurencyID])
REFERENCES [dbo].[Curency] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[purposePrice] CHECK CONSTRAINT [FK_dbo.purposePrice_dbo.Curency_CurencyID]
GO
ALTER TABLE [dbo].[purposePrice]  WITH CHECK ADD  CONSTRAINT [FK_dbo.purposePrice_dbo.Purpose_PurposeId] FOREIGN KEY([PurposeId])
REFERENCES [dbo].[Purpose] ([Id])
GO
ALTER TABLE [dbo].[purposePrice] CHECK CONSTRAINT [FK_dbo.purposePrice_dbo.Purpose_PurposeId]
GO
