@model IEnumerable<Store.WEB.Models.CharacteristicVM>

@{
    ViewBag.Title = "CreateCategoryCharacteristic";
}

<h2>CreateCategoryCharacteristic</h2>

<p>
    @Html.ActionLink("ADD", "CreateCharacteristic", "ContentManagerAccount", new { }, null)
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>

            @Html.ActionLink(item.Name, "GetCharacteristicsValues", "ContentManagerAccount", new { CharacteristicId = item.Id }, null)

        </td>
        <td>
            @Html.ActionLink("ADD", "AddCategoryCharacteristic", "ContentManagerAccount", new { categoryID = Request.Params["categoryID"] , charID = item.Id },null) 
        </td>
    </tr>
}

</table>
