
@{
    ViewBag.Title = "Index";
}

<h2>Content Manager Account</h2>


<h3>Чё ннадо ?</h3>

<ul>
    <li>
        @Html.ActionLink("Кутёж с категориями", "CategoryEditorNavigation", "ContentManagerAccount")
    </li>
    <li>
        @Html.ActionLink("Вечерний променад с итемамки", "Index", "ContentManagerAccount")
    </li>
    <li>
        @Html.ActionLink("Создать лохотрон", "Index", "ContentManagerAccount")
    </li>
</ul>



