
@{
    ViewBag.Title = "Index";
}




<h3>Admin controls : </h3>
<br>

<ul>
    <li>
        <h4> @Html.ActionLink("Category Editor", "CategoryEditorNavigation", "ContentManagerAccount")</h4>
    </li>
    <li>
        <h4> @Html.ActionLink("Items Editor", "ItemsEditor", "ContentManagerAccount")</h4>
    </li>
    <li>
        <h4> @Html.ActionLink("Purposes Editor", "Index", "ContentManagerAccount")</h4>
    </li>
</ul>



